@import url('https://fonts.googleapis.com/css?family=Quicksand:700|Quicksand:400');
@import "tailwindcss";
@import "tw-animate-css";

@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallax-speed) * 100px));
    opacity: calc(1 - var(--parallax-speed) * 1);
  }
}

.speed-1, .speed-2, .speed-3, .speed-4, .speed-5, .speed-6 {
  animation: parallax linear;
  animation-timeline: scroll();
}

.speed-1 {
  --parallax-speed: 1.5;
}
.speed-2 {
  --parallax-speed: 1.25;
}
.speed-3 {
  --parallax-speed: 1;
}
.speed-4 {
  --parallax-speed: 0.75;
}
.speed-5 {
  --parallax-speed: 0.5;
}
.speed-6 {
  --parallax-speed: 0.25;
}
.speed-7 {
  --parallax-speed: 0;
}

body {
  font-family: 'Quicksand';
  /* font-weight: 400; */
}

h1, h2, h3, h4, h5 {
  font-family: 'Quicksand';
  /* font-weight: 700; */
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
} /* 16px */

/*
@theme {
  --color-text-50: #feebe6;
  --color-text-100: #fdd7ce;
  --color-text-200: #fcaf9c;
  --color-text-300: #fa876b;
  --color-text-400: #f95f39;
  --color-text-500: #f73808;
  --color-text-600: #c62c06;
  --color-text-700: #942105;
  --color-text-800: #631603;
  --color-text-900: #310b02;
  --color-text-950: #190601;

  --color-background-50: #feebe7;
  --color-background-100: #fcd6cf;
  --color-background-200: #faad9e;
  --color-background-300: #f7856e;
  --color-background-400: #f55c3d;
  --color-background-500: #f2330d;
  --color-background-600: #c2290a;
  --color-background-700: #911f08;
  --color-background-800: #611405;
  --color-background-900: #300a03;
  --color-background-950: #180501;

  --color-primary-50: #feece7;
  --color-primary-100: #fdd9ce;
  --color-primary-200: #fbb39d;
  --color-primary-300: #f98d6c;
  --color-primary-400: #f7673b;
  --color-primary-500: #f5410a;
  --color-primary-600: #c43408;
  --color-primary-700: #932706;
  --color-primary-800: #621a04;
  --color-primary-900: #310d02;
  --color-primary-950: #180601;

  --color-secondary-50: #f6f7ee;
  --color-secondary-100: #edeedd;
  --color-secondary-200: #dadeba;
  --color-secondary-300: #c8cd98;
  --color-secondary-400: #b6bd75;
  --color-secondary-500: #a3ac53;
  --color-secondary-600: #838a42;
  --color-secondary-700: #626732;
  --color-secondary-800: #414521;
  --color-secondary-900: #212211;
  --color-secondary-950: #101108;

  --color-accent-50: #f4f7ee;
  --color-accent-100: #e9eedd;
  --color-accent-200: #d3ddbb;
  --color-accent-300: #bdcd98;
  --color-accent-400: #a7bc76;
  --color-accent-500: #91ab54;
  --color-accent-600: #748943;
  --color-accent-700: #576732;
  --color-accent-800: #3a4422;
  --color-accent-900: #1d2211;
  --color-accent-950: #0e1108;
}
*/

@theme {
  --color-text-50: #ededf8;
  --color-text-100: #dbdbf0;
  --color-text-200: #b7b7e1;
  --color-text-300: #9292d3;
  --color-text-400: #6e6ec4;
  --color-text-500: #4a4ab5;
  --color-text-600: #3b3b91;
  --color-text-700: #2c2c6d;
  --color-text-800: #1e1e48;
  --color-text-900: #0f0f24;
  --color-text-950: #070712;

  --color-background-50: #edeafa;
  --color-background-100: #dad5f6;
  --color-background-200: #b5abed;
  --color-background-300: #9082e3;
  --color-background-400: #6b58da;
  --color-background-500: #462ed1;
  --color-background-600: #3825a7;
  --color-background-700: #2a1c7d;
  --color-background-800: #1c1254;
  --color-background-900: #0e092a;
  --color-background-950: #070515;

  --color-primary-50: #fde7ef;
  --color-primary-100: #fbd0e0;
  --color-primary-200: #f8a0c0;
  --color-primary-300: #f471a1;
  --color-primary-400: #f14182;
  --color-primary-500: #ed1262;
  --color-primary-600: #be0e4f;
  --color-primary-700: #8e0b3b;
  --color-primary-800: #5f0727;
  --color-primary-900: #2f0414;
  --color-primary-950: #18020a;

  --color-secondary-50: #eef7f7;
  --color-secondary-100: #dcefef;
  --color-secondary-200: #badede;
  --color-secondary-300: #97cece;
  --color-secondary-400: #74bebe;
  --color-secondary-500: #52adad;
  --color-secondary-600: #418b8b;
  --color-secondary-700: #316868;
  --color-secondary-800: #214545;
  --color-secondary-900: #102323;
  --color-secondary-950: #081111;

  --color-accent-50: #f1edf7;
  --color-accent-100: #e2dbf0;
  --color-accent-200: #c6b7e1;
  --color-accent-300: #a993d2;
  --color-accent-400: #8c6fc3;
  --color-accent-500: #704bb4;
  --color-accent-600: #593c90;
  --color-accent-700: #432d6c;
  --color-accent-800: #2d1e48;
  --color-accent-900: #160f24;
  --color-accent-950: #0b0812;

  --linearPrimarySecondary: linear-gradient(#F9ADC9, #9ACFCF);
  --linearPrimaryAccent: linear-gradient(#F9ADC9, #593C8F);
  --linearSecondaryAccent: linear-gradient(#9ACFCF, #593C8F);
  --radialPrimarySecondary: radial-gradient(#F9ADC9, #9ACFCF);
  --radialPrimaryAccent: radial-gradient(#F9ADC9, #593C8F);
  --radialSecondaryAccent: radial-gradient(#9ACFCF, #593C8F);
}
